<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>
<body>

  <button (click)="obterImagem()">Obter Imagem</button>
  <div [innerHTML]="this.sanitizer.bypassSecurityTrustHtml(this.imagem)"></div>
  <button (click)="obterInfos()">Obter Informações</button>
    
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Activity Amount</td>
          <td>{{this.informacoes.activity_amount}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Average Duration Per Case</td>
          <td>{{this.informacoes.average_duration_per_case}}</td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Average Events Per Case</td>
          <td>{{this.informacoes.average_events_per_case}}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Case Amount</td>
          <td>{{this.informacoes.case_amount}}</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Event Amount</td>
          <td> {{this.informacoes.event_amount}}</td>
        </tr>
        <tr>
          <th scope="row">6</th>

          <td>Events Per Case</td>
          <td>{{this.informacoes.events_per_case}}</td>
        </tr>
        <tr>
        <th scope="row">7</th>
        <td>Median Duration</td>
        <td>{{this.informacoes.median_duration}}</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>variant_amount</td>
          <td>{{this.informacoes.variant_amount}}</td>
        </tr>

      </tbody>
    </table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
</body>
</html>



